html {
  font-size: 10px;

  background: url("./background.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys_container {
  display: grid;
  grid-column-gap: 3px;

  grid-template-columns: repeat(9, 1fr);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 30em;
  padding-bottom: 29em;
}

.key {
  border: solid 3px black;
  box-shadow: 0px 0px 4px rgb(83, 0, 83);
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.07;
}

.letter {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 5ex;
  color: #a6d1ff;
  text-shadow: 1px 1px 4px #a6d1ff;
}

.sound {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-weight: normal;
  font-style: italic;
  font-size: 2.6ex;
  color: #b4ffc2;
  text-shadow: 1px 1px 4px #b4ffc2;
}
